<ul data-nav-search-target="resultParent" class="z-40 absolute mt-1 w-full overflow-hidden text-sm bg-white border border-gray-100 rounded-lg shadow-lg divide-y divide-blue-200 max-h-[calc(100vh-100px)] overflow-y-auto" tabindex="0" role="listbox" aria-orientation="vertical">
  <% if @results[:projects].any? || @results[:tags].any? %>
    <% if @results[:projects].any? %>
      <% @results[:projects].each do |project| %>
        <li class="py-1 focus:bg-blue-500 focus:text-white" role="option" tabindex="-1">
          <a href=<%= search_path(params: {pg_search_by_name: project.name}) %> class="cursor-default select-none flex items-center h-8 px-2 text-xs focus:bg-blue-500 focus:text-white hover:bg-blue-500 hover:text-white" role="menuitem" tabindex="-1" ><%= project.name%></a>
        </li>
      <% end %>
    <% end %>
    <% if @results[:tags].any? %>
      <% @results[:tags].each do |tag| %>
        <li class="py-1" role="option" tabindex="-1">
          <a href=<%= search_path(params: {usecase_tag_ids: [tag.id]}) %> class="flex items-center h-8 px-2 text-xs hover:bg-blue-500 hover:text-white"  ><%= tag.name %> projects</a>
        </li>
      <% end %>
    <% end %>
  <% else %>
    <div class="py-1" role="none">
      <div class="text-gray-700 block px-4 py-2 text-sm" role="none"> No projects found, press enter. </div>
    </div>
  <% end %>
</ul>
