<% if @results[:projects].any? || @results[:tags].any? %>
  <% if @results[:projects].any? %>
    <% @results[:projects].each do |project| %>
      <div class="py-1" role="menuitem" tabindex="-1">
        <a href=<%= nav_search_path(params: {pg_search_by_name: project.name}) %> class="flex items-center h-8 px-2 text-xs  hover:bg-gray-50 " role="menuitem" tabindex="-1" ><%= project.name%></a>
      </div>
    <% end %>
  <% end %>
  <% if @results[:tags].any? %>
    <% @results[:tags].each do |tag| %>
      <div class="py-1" role="menuitem" tabindex="-1">
        <a href=<%= nav_search_path(params: {usecase_tag_ids: [tag.id]}) %> class="flex items-center h-8 px-2 text-xs hover:bg-gray-50 "  ><%= tag.name %> projects</a>
      </div>
    <% end %>
  <% end %>
<% else %>
  <div class="py-1" role="none">
    <div class="text-gray-700 block px-4 py-2 text-sm" role="none"> No projects found, press enter. </div>
  </div>
<% end %>
