<% @tag_list.each do |tag| %>
  <%= link_to(tag_show_path(tag.slug)) do %>
    <span class="inline-flex items-center text-white px-2.5 py-0.5 rounded text-sm uppercase leading-5 <%= TAG_COLORS[tag.tag_type] %> ">
      <%= tag.name %>
    </span>
  <% end %>
<% end %>
