<div class="max-w-3xl px-4 mx-auto sm:px-6  lg:max-w-6xl lg:px-8">
  <div class="mt-6">
    <%= turbo_frame_tag "search-results" do %>
      <%= render ProjectListComponent.new(project_list: projects) %>
    <% end %>
  </div>
</div>
