<% title  @static_page.title %>
<% description @static_page.title %>
<div class="max-w-6xl mx-auto mt-8 prose px-4 sm:px-6 lg:px-8">
  <div class="bg-white border-b shadow overflow-hidden sm:rounded-lg p-6">
    <%= @markdown.render(@static_page.content).html_safe %>
  </div>
</div>
