<div class="bg-[#ffd700]">
  <div class="max-w-5xl px-4 py-8 mx-auto sm:px-6 lg:px-8 ">
    <%= form_with scope: :q, url: nav_search_url, method: :get, local: true do |f|%>
      <% if params[:q].present? && params[:q][:name].present? %>
        <div class="relative">
          <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
            <!-- Heroicon name: solid/search -->
            <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
            </svg>
          </div>
          <%= f.text_field :name, value: params[:q][:name] ,class: "block w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md leading-5 bg-white placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm", placeholder: "Search Projects" %>
        </div>
      <% else %>
        <%= f.text_field :name, class: "block w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md leading-5 bg-white placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm", placeholder: "Search Projects"%>
      <% end %>
    <% end %>
    <div class="mx-2 my-8 text-xl font-medium leading-6 ">
      Search results
    </div>
    <%= render(ProjectListComponent.new(project_list: @projects)) %>
  </div>
</div>
