<% content_for(:html_title) { 'Submit a project' } %>
<div class="max-w-6xl mx-auto mt-8" data-controller="selectize">
  <%= render partial: "projects/project_form", locals: {method: :post, project: @project, submit_text: "Submit project"}%>
</div>
