<% title 'Search for open source alternatives' %>
<% set_meta_tags og: { title: "Search for open source alternatives",
                       description: 'Search for open source alternatives to popular software',
                       image: BANNER_IMAGE_URL,
                       type: "website",
                       url: search_url},
                 canonical: search_url %>
<div class="bg-gray-100 pb-5">
  <%= render partial: "layouts/project_search"%>
</div>
