<% title 'Search projects' %>
<% description 'Search for open source projects on ossdatabase' %>
<% set_meta_tags og: { title: "Search projects", 
                       description: 'Search for open source projects on ossdatabase', 
                       image: BANNER_IMAGE_URL,
                       type: "website",
                       url: projects_search_url},
                 canonical: projects_search_url %>
<div class="bg-blue-500" data-controller="search">
  <div class="max-w-6xl px-4 py-10 mx-auto sm:px-6 lg:px-8">
    <div class="pb-5 border-b border-gray-200">
      <div class="flex flex-wrap items-baseline -mt-2 -ml-2">
        <h1 class="mt-2 ml-2 text-xl font-medium leading-6 tracking-tight text-white uppercase">
          Search Projects
        </h1>
      </div>
    </div>
    <div class="mt-4" >
      <div class="px-4 py-5 sm:p-6">
        <%= search_form_for @q, url: projects_search_path, remote: true, data: {"search-target": "form", 'action': 'ajax:success->search#renderResults'}, method: "GET" do |f| %>
          <div>
            <div class="mt-1">
              <%= f.search_field :pg_search_by_name, class:"block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-lg", placeholder:"Search for projects by name", data: { "action": "input->search#triggerSearch" } %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="my-8 lg:mt-16" data-search-target="resultParent">
    <%= render(ProjectListComponent.new(project_list: @projects)) %>
  </div>
</div>
