<% title 'Projects tagged with ' + @tag.name %>
<% description "open source projects tagged with #{@tag.name} on ossdatabase" %>
<% set_meta_tags og: { title: 'Projects tagged with' + @tag.name, 
                       description: "open source projects tagged with #{@tag.name} on ossdatabase", 
                       image: BANNER_IMAGE_URL,
                       type: "website",
                       url: tag_show_url(@tag.name)},
                 canonical: tag_show_url(@tag.name) %>
<div class="max-w-6xl mx-auto mt-8 px-4 sm:px-6 lg:px-8">
  <div class="pb-5 border-b border-gray-200">
    <div class="-ml-2 -mt-2 flex flex-wrap items-baseline">
      <h1 class="ml-2 mt-2 text-lg leading-6 font-medium text-gray-900">
        Projects tagged with <%= @tag.name %>
      </h1>
    </div>
  </div>
  <%= render(ProjectListComponent.new(project_list: @tag_projects)) %>
</div>
