@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "slim-select/dist/slimselect.min.css";


@font-face {
  font-family: 'Inter';
  src: url("./inter.ttf");
}

body {
  font-family: 'Inter', 'sans-serif';
}

@import "trix/dist/trix";
