<% title 'What is open source?' %>
<% set_meta_tags og: { title: "What is open source?", 
                       description: 'This page describes what is the meaning of open source and a breif history of open source movement.', 
                       image: BANNER_IMAGE_URL,
                       type: "website",
                       url: open_source_url},
                 canonical: open_source_url %>
<% description 'This page describes what is the meaning of open source and a breif history of open source movement.' %>
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
  <div class="max-w-3xl mx-auto prose md:prose-lg lg:prose-xl py-20">
    <h1 class=""> What is Open Source?</h1>
    <h3>
      Definition of open source
    </h3>
    <p class="">
      The term "open source" refers to software code that is freely shared. 
      It's a method of making software accessible to the general audience. 
      The term "open source" can be used to describe a variety of topics, but on this site, 
      we're generally talking about software. When someone builds software and makes its source code available to the public, 
      that software is called open source software. This definition isn't completely correct, but it's a good place to start. 
      The Open Source Initiative has created a formal and widely accepted definition of open source, which can be found at <a href="https://opensource.org/osd">https://opensource.org/osd</a>.
    </p>
    <h3>
      A short history of open source movement
    </h3>
    <p>
      The open source movement has existed for quite some time. Academics used to distribute their code freely in the early days of computing. However, as personal computing grew in popularity, it became more customary for businesses to make their code proprietary and restrict copying and redistribution in order to avoid competition. This meant that even if a bug existed in one of their programmes, 
      no one else would be able to identify it, let alone fix it. In response to this, Richard Stallman founded the free software movement. He founded the Free Software Foundation and the GNU project. This movement paved the way for the open source movement, which exploded in popularity in the late 1990s. 
      The free software foundation, founded by Richard Stallman, set out to produce a suite of programmes for the UNIX operating system that would be free to use and distribute. They also planned to construct a GNU operating system, but it never materialised due to its complicated design. However, the GNU effort was successful in developing and distributing the GNU core utilities, a set of essential utilities for the GNU operating system. 
      All of this software was dubbed "Free Software" by him. It came with a copyleft licence, which implies that anybody can use, alter, and redistribute it without restriction as long as modified versions are distributed with the same licence and the original copyright notice.
    </p>
    <p>
      Linus Torvalds, a Finnish student, designed the Linux operating system in 1993. The UNIX operating system was completely rewritten. It was created with GNU core utilities and distributed under the GNU General Public License. 
      This kernel was much simpler than what Stallman was attempting to create, and it quickly gained popularity around the world. People from all over the world began to contribute to the development of Linux as an operating system. 
      With the debut of the Apache web server on Linux and the rise of the Internet, Linux quickly established itself as a viable and free server software alternative. 
      Previously, people had to purchase server software and renew their licences in order to run their own servers, which was an expensive endeavour. 
      People began to take open source software more seriously after the release of the Linux operating system. On top of open source software, people began to construct commercial software enterprises. Redhat is one of the most well-known and successful examples of open source software companies. 
    </p>
    <p>
      The Open Source Initiative (OSI) was founded in 1998 with the goal of creating a standard for the open source movement. They coined the term "open source" and provided a definition for it. 
      It was an attempt to publicise the open source movement and entice commercial software businesses to join it. Revolution OS, a documentary on the open source movement, has a more extensive history.
    </p>
    <p>
      Many consumer and corporate software applications now have open source alternatives. Linux is the world's most popular server operating system. 
      This project's purpose is to build a crowdsourced directory of open source alternatives to all proprietary software.
    </p>
  </div>
</div>
