<% title 'What is open source?' %>
<% set_meta_tags og: { title: "What is open source?", 
                       description: 'This page describes what is the meaning of open source and a breif history of open source movement.', 
                       image: BANNER_IMAGE_URL,
                       type: "website",
                       url: open_source_url},
                 canonical: open_source_url %>
<% description 'This page describes what is the meaning of open source and a breif history of open source movement.' %>
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
  <div class="max-w-3xl mx-auto prose md:prose-lg lg:prose-xl py-20">
    <h1 class=""> What is Open Source?</h1>
    <h3>
      Definition of open source
    </h3>
    <p class="">
      Open Source is a term used to describe the sharing of software code. It is a way to make software available to the public for
      use. Open source could be used to describe a lot of other things, but on this site when we say open source we are mostly talking about software.
      When someone creates a software program, they are making it available to the public by making its source code available to the public
      then that software could be termed as open source software. This definition is not 100% accurate, but it is a good starting point.
      A formal and the most widely accepted definition of open source is available at <a href="https://opensource.org/osd">opensource.org</a> made by the Open Source Initiative.
    </p>
    <h3>
      A short history of open source movement
    </h3>
    <p>
      Open source movement has been around for a long time. In the early days of computing, academics often shared their code with each other.
      But with growth in personal computing, it became more and more common for companies to make their code proprietary and limit copying and redistribution to thwart competition.
      This meant that even if there was a bug in one of their programs, it would not be possible for anyone else to find it, let alone fix it.
      To counter this Richard Stallman, started free software movement. He created the GNU project and free software foundation.
      This movement was the precursor to the open source movement that began in the late 1990s. Richard Stallman under the free software foundation set out to create 
      set of programs used on the UNIX operating system that would be free to use and distribute. They were also planning to create a GNU operating system, but it did not come into 
      fruition because it had complex design. But the GNU project succeded in creating and distributing the GNU core utilities, a set of common utilities required by the GNU operating system.
      He called all this software "Free Software". It came with a copyleft license, which means that anyone can use the software, modify and redistribute it freely as long as you share modified version
      with the same license and the original copyright notice.
    </p>
    <p>
      In 1993 a finnish student named Linus Torvalds created the Linux operating system. It was a complete rewrite of the UNIX operating system. It was built using GNU core utilities and was released under the GNU public license. 
      This kernel was simpler as compared to waht Stallman was trying to build and became with popular around the world. People from across the world started to contribute to the Linux as their operating system.
      Soon with release of Apache web server on Linux and the rise of Internet, Linux became a viable and free alternative for server software.
      Earlier people would have to buy server software and renew their license to run their own servers. 
      With the rise of Linux operating system people started taking open source software more seriously. People started building commercial software companies on top of open source software. One of the most prominent and successful example is Redhat.
    </p>
    <p>
      In 1998 Open Source Initiative (OSI) was created to create a standard for the open source movement. They created a definition for open souce and coined the term "Open Source".
      It was an attempt to promote the open source movement and attract commercial software companies to the open source movement. For a more detailed history checkout Revolution OS, a documentary about the open source movement.
    </p>
  </div>
</div>
