<% title 'List of Open source licenses' %>
<% set_meta_tags og: { title: "List of Open source licenses", 
                       description: 'This page lists all open source licenses and their details', 
                       image: BANNER_IMAGE_URL,
                       type: "website",
                       url: licenses_list_url},
                 canonical: licenses_list_url %>
<% description 'This page lists all open source licenses and their details' %>
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
  <div class="max-w-3xl mx-auto py-20">
    <%= render OpenSourceGuideNavComponent.new %>
    <div class="prose md:prose-lg lg:prose-xl">
      <h1 class="">Open source licences list</h1>
    </div>
  </div>
</div>
