<% title 'Open source licenses' %>
<% set_meta_tags og: { title: "Open source license", 
                       description: 'This page describes open source licenses and different types of open source distribution models', 
                       image: BANNER_IMAGE_URL,
                       type: "website",
                       url: licenses_index_url},
                 canonical: licenses_index_url %>
<% description 'This page describes open source licenses and different types of open source distribution models' %>
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
  <div class="max-w-3xl mx-auto py-20">
    <div class="prose md:prose-lg lg:prose-xl">
      <h1 class="">Open source licences</h1>
      <h3>
        How is software distributed?
      </h3>
      <p class="">
        There are many ways to distribute software. 
        <ul>
          <li>Sharing source code of the software with the user</li>
          <li> Sharing a compiled execuatable of the software with the user</li>
          <li> Sharing access to software over the network</li>
          <li> A combination of all of these approaches</li>
        </ul>
      </p>
      <h4> What is a software license?</h4>
      <p>
        What distinguishes software distribution are the conditions under which a developer or corporation shares software with a user. Typically, the terms specify if and how the software can be copied, modified, redistributed, or commercialised. In most cases, these terms are wrapped in legal language in a document called a software licence.
      </p>
      <h3>
        Different types of software licenses
      </h3>
      <p>
        Software licenses can be generally divided into following types, but for a deeper overview please refer 
        <a href="https://en.wikipedia.org/wiki/Software_license" target="_blank" rel="nofollow"> Wikipedia.</a>
      </p>
      <h4>
        Propriatary software license
      </h4>
      <p>
      </p>
      <h4>
        Freeware/ Shareware/ Freemium licence
      </h4>
      <h4>
        Restrictive (copyleft) open source licence
      </h4>
      <h5> What is copyleft? </h5>
      <h4> Permissive open source license </h4>
      <h4> Public domain software license </h4>
    </div>
    <div class="my-10">
      <a href=<%= licenses_index_path %> class="text-blue-700"> Open source licenses →</a>
    </div>
  </div>
</div>
