<% title 'Open source license picker' %>
<% set_meta_tags og: { title: "Open source license picker", 
                       description: 'Open source license suggests open source license for your project based on your requirements', 
                       image: BANNER_IMAGE_URL,
                       type: "website",
                       url: open_source_license_picker_url },
                 canonical:  open_source_license_picker_url %>
<% description 'Open source license suggests open source license for your project based on your requirements' %>
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
  <div class="max-w-3xl mx-auto py-20">
    <%= render OpenSourceGuideNavComponent.new %>
    <div class="prose md:prose-lg lg:prose-xl">
      <h1 class="">Open source licence picker</h1>
    </div>
  </div>
</div>
